  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Organization",
      "name": "Athlos Oy",
      "url": "https://athlos.fi",
      "logo": "https://athlos.fi/images/athlos-logo.png",
      "email": "info@athlos.fi",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Klovinpellontie 1-3, Tower 2",
        "addressLocality": "Espoo",
        "postalCode": "02180",
        "addressCountry": "FI"
      },
      "sameAs": [
        "https://www.linkedin.com/company/athlos-oy/"
      ],
      "description": "{{ "jsonld.organization.description" | t }}",
      "areaServed": "{{ "jsonld.organization.areaServed" | t }}",
      "contactPoint": {
        "@type": "ContactPoint",
        "email": "info@athlos.fi",
        "contactType": "{{ "jsonld.organization.contactType" | t }}"
      }
    },
    {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "{{ "jsonld.productsManufacturing.graph.breadcrumb.home" | t }}",
          "item": "https://athlos.fi/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ "jsonld.productsManufacturing.graph.breadcrumb.products" | t }}",
          "item": "https://athlos.fi/products/"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{ "jsonld.productsManufacturing.graph.breadcrumb.manufacturing" | t }}",
          "item": "https://athlos.fi/products/manufacturing.html"
        }
      ]
    },
    {
      "@type": "Service",
      "name": "{{ "jsonld.productsManufacturing.graph.service.name" | t }}",
      "description": "{{ "jsonld.productsManufacturing.graph.service.description" | t }}",
      "provider": {
        "@type": "Organization",
        "name": "Athlos Oy",
        "url": "https://athlos.fi"
      },
      "areaServed": "{{ "jsonld.productsManufacturing.graph.service.areaServed" | t }}",
      "serviceType": "{{ "jsonld.productsManufacturing.graph.service.serviceType" | t }}"
    }
  ]
}
  </script>
