  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {"@type":"Question","name":"{{ "jsonld.productsUfs.faq.q1.question" | t }}","acceptedAnswer":{"@type":"Answer","text":"{{ "jsonld.productsUfs.faq.q1.answer" | t }}"}},
      {"@type":"Question","name":"{{ "jsonld.productsUfs.faq.q2.question" | t }}","acceptedAnswer":{"@type":"Answer","text":"{{ "jsonld.productsUfs.faq.q2.answer" | t }}"}},
      {"@type":"Question","name":"{{ "jsonld.productsUfs.faq.q3.question" | t }}","acceptedAnswer":{"@type":"Answer","text":"{{ "jsonld.productsUfs.faq.q3.answer" | t }}"}},
      {"@type":"Question","name":"{{ "jsonld.productsUfs.faq.q4.question" | t }}","acceptedAnswer":{"@type":"Answer","text":"{{ "jsonld.productsUfs.faq.q4.answer" | t }}"}}
    ]
  }
  </script>
