  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "VideoObject",
    "name": "{{ "jsonld.productsWios.video.name" | t }}",
    "description": "{{ "jsonld.productsWios.video.description" | t }}",
    "thumbnailUrl": "https://i.ytimg.com/vi/E5LMPWgQg6E/maxresdefault.jpg",
    "uploadDate": "2022-03-04",
    "contentUrl": "https://www.youtube.com/watch?v=E5LMPWgQg6E",
    "embedUrl": "https://www.youtube.com/embed/E5LMPWgQg6E",
    "publisher": {
      "@type": "Organization",
      "name": "Athlos Oy",
      "logo": {
        "@type": "ImageObject",
        "url": "https://athlos.fi/images/athlos-logo.png"
      }
    }
  }
  </script>
