---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for url in sitemap.order %}{%- set entry = sitemap.pages[url] %}
  <url>
    <loc>{{ site.url }}{{ url }}</loc>
    <lastmod>{{ entry.lastmod }}</lastmod>
    <changefreq>{{ entry.changefreq }}</changefreq>
    <priority>{{ entry.priority }}</priority>
  </url>
{% endfor %}
</urlset>
