  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "name": "Athlos X-Ray Imaging Product Portfolio",
    "itemListElement": [
      {"@type":"ListItem","position":1,"name":"DC-Air® Wireless Intraoral Sensor","url":"{{ site.url }}/products/wios.html"},
      {"@type":"ListItem","position":2,"name":"Ultra-Fast Scanning Sensor","url":"{{ site.url }}/products/ufs.html"},
      {"@type":"ListItem","position":3,"name":"Industrial IP67 TDI","url":"{{ site.url }}/products/ufs-ip67.html"},
      {"@type":"ListItem","position":4,"name":"Manufacturing Services","url":"{{ site.url }}/products/manufacturing.html"},
      {"@type":"ListItem","position":5,"name":"Software Products","url":"{{ site.url }}/products/software.html"}
    ]
  }
  </script>
