  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ site.legalName }}",
  "url": "{{ site.url }}",
  "logo": "{{ site.url }}/images/athlos-logo.png",
  "email": "{{ site.email }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ site.address.street }}",
    "addressLocality": "{{ site.address.city }}",
    "postalCode": "{{ site.address.postalCode }}",
    "addressCountry": "{{ site.address.country }}"
  },
  "sameAs": [
    "{{ site.linkedin }}"
  ],
  "description": "{{ "jsonld.organization.description" | t }}",
  "areaServed": "{{ "jsonld.organization.areaServed" | t }}",
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "{{ site.email }}",
    "contactType": "{{ "jsonld.organization.contactType" | t }}"
  }
}
  </script>
